body > header {
	position:absolute;
	top:0;
}


#content {
	margin-top:4em;
}

section {
	display: none;
}

section.active {
	display: block;
}

main > section {
	background: #eee;
}

section#movies h2, section#movie h2  {
	font-size: 100%;
}

section#movie h1 {
	font-size: 130%;
}